.ad {
}

/* Generic */
#footer .ad {
  margin-bottom: 20px;
}

/* Article pages */
.article .ad-720x90 {
  background: #f2f2f2;
  padding: 15px;
  margin: 15px 0;  
  text-align: center;  
}

.article .ad-300x250 {
}
