body {
  margin-top: 50px;
  /*
  line-height: 1.5;
  font: 400 14px "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-family: "freight-sans-pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  */
  text-rendering: optimizelegibility;
}

a {
  color: #c00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/*
  Layout
*/


/* Top Nav */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-box-shadow: 0 3px 13px 0 rgba(3, 3, 3, 0.16);
  -moz-box-shadow: 0 3px 13px 0 rgba(3, 3, 3, 0.16);
  box-shadow: 0 3px 13px 0 rgba(3, 3, 3, 0.16);
}
.top-bar a:hover {
  text-decoration: none;
}
.top-bar .top-bar-inner {
  position: relative;
  max-width: 62.5rem;
  margin: 0 auto;
}
.top-bar .top-bar-section > ul > li > a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}
.top-bar .top-bar-section .has-dropdown li a {
  line-height: 40px;
}
.top-bar .top-bar-section li.home {
}
.top-bar .top-bar-section li.home a {
  text-indent: -9999em;
  width: 50px;
  background: url(/images/logos/sourcey-50x50.png) center;
}
.top-bar .top-bar-section li.home a:hover {
  background: #f6f6f6 url(/images/logos/sourcey-50x50.png) center;
}

.top-bar .dropdown {
  box-shadow: 0 1px 10px 0 rgba(2, 3, 3, 0.16);
  z-index: -1;
}

.top-bar-section .has-dropdown li a {
  border-bottom: 1px solid rgba(2, 3, 3, 0.06);
}

.top-bar-section .has-dropdown li a:hover {
  box-shadow: 0 0px 3px 0 rgba(2, 3, 3, 0.06) inset;
}

.top-bar-section .has-dropdown li a b {
  display: block;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 7px;
}
.top-bar-section .has-dropdown li a small {
  display: block;
  line-height: 1.5;
  text-transform: none;
  text-transform: lowercase;
  color: #999;
  font-size: 12px;
  font-weight: normal;
  padding-bottom: 7px;
}
.top-bar-section .has-dropdown li a:hover b {
  color: #c00;
}
/*
.top-bar-section .has-dropdown li a:hover b,
.top-bar-section .has-dropdown li a:hover small {
  color: white;
}
*/

.top-bar .toggle-topbar.menu-icon {
  right: auto;
  padding-left: 20px;
  margin-top: -18px;
}

#social {
  position: absolute;
  right: 14px;
  font-size: 24px;
  top: 0px;
  z-index: 1;
}
#social a {
  color: #917272;
  color: #AD8888;
  margin-left: 8px;
}
#social a:hover {
  color: black;
  background: none;
}


/* Header */
#header {
  padding: 110px 0 40px;
  text-align: center;
}
#header #logo a {
  height: 150px;
  width: 150px;
  display: inline-block;
  background: transparent;
  border: 1px solid transparent;
}

#header #logo a:hover {
  border: 1px dashed #c00;
  background-color: none;
}

#header #logo img {
  height: 150px;
  width: 150px;
  border: 1px solid transparent;
}

#header #logo:hover img {
  border: 1px dashed #FCEBA1;
}

/* Main */
#main {
  max-width: 62.5rem;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}


/* Footer */
#footer {
  margin: 0 auto;
  padding: 30px 15px 30px;
  text-align: center;
}
#footer p {
  color: #999;
  font-size: 14px;
  margin: 0 auto 15px;
  max-width: 600px;
}


/*
  Home Page
*/

/* Banner */

/*
body.index {
  background: url(/images/xiao-feng-lsd-1024x680.jpg) no-repeat center top;
  background-size: 1000px auto;
}
*/
body.index #main {
  /*max-width: 940px;*/
}

body.index #logo {
  margin-top: 0px;
  /*
  margin-top: 240px;
  visibility: hidden;
  position: relative;
  left: 435px;
  top: -240px; */
}

/* Welcome */
body.index #header {
  padding-top: 100px;
}
body.index #welcome {
  padding: 0px 20px 0px;
  font-size: 28px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1.25em;
  /* text-transform: lowercase; */
}
/*
body.index #welcome span {
  clear: left;
}
body.index #welcome em {
  color: #c00;
}
*/

/*
@media only screen and (max-width: 64.063em) {
  body.index #welcome br {
    display: none;
  }
}

body.index #welcome1 {
  position: absolute;
  margin: -227px 0 0 10px;
  padding: 0px 20px 20px;
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 1.625em;
  text-transform: lowercase;
}
body.index #welcome1 span {
}
body.index #welcome1 em {
  font-size: 72px;
  color: #eee;
  opacity: 0.33;
  text-shadow: 0 -1px 1px #000;
}
body.index #welcome1 ol {
  font-size: 24px;
  margin: -20px 0 0 30px;
  line-height: 1.44;
  color: #fff;
  text-shadow: 0 -1px 1px #000;
}
@media only screen and (max-width: 64.063em) {
  body.index #welcome1 {
    margin-left: 0px;
  }
}
*/

/* Showcase */
body.index #projects {
  text-align: center;
  margin: 72px auto 20px;
  padding: 0;
  font-size: 0;
  background: rgba(255,255,255,0.90);
  box-shadow: 0px 0px 16px rgba(255,255,255,.5);
}

/*
body.index #projects .project {
  display: inline-block;
  float: none;
  width: 300px;
}
*/

body.index #projects .columns {
  padding: 0;
}
body.index #projects a {
  text-decoration: none;
  font-size: 15px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #f4f4f4;
  display:block;
  margin: 0;
  padding: 30px 25px 30px;
  background: transparent;
  line-height: 1.4;
  /*
  http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  width: 302px;
  height: 190px;
  height: 190px;
  */
}


body.index #projects a:hover {
  background: transparent;
  -moz-box-shadow: 0 0 50px rgba(0,0,0,0.1) inset;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.1) inset;
  box-shadow: 0 0 50px rgba(0,0,0,0.1) inset;
  box-shadow: 2px 2px 6px #ccc, 0 0 50px #eee inset;
}

body.index #projects a:focus {
  -moz-box-shadow: 3px 3px 8px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  -webkit-box-shadow: 3px 3px 8px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
}

body.index #projects a .icon {
  float: left;
  margin-right: 15px;
  margin-bottom: 5px;
  width: 80px;
  height: 80px;
}


body.index #projects a span.title {
  display: block;
  /*
  font-family: Georgia;
  font-size: 22px;
  line-height: 1.5;
  text-transform: lowercase;
  */
  line-height: 1.3;
  color: #222;
  font-size: 22px;
  font-weight: 500;
}
body.index #projects a span.strap {
  display: block;
  /* font-size: 14px;
  font-weight: bold; */
  font-weight: 500;
  color: #b00;
  margin-bottom: 4px;
  text-transform: lowercase;
}
body.index #projects a span.intro {
  display: block;
  /* font-size: 14px; */
  color: #666;
}

/* Icons */
body.index #projects a.symple .icon {
  background: url(/images/logos/symple-80x80.png) no-repeat;
}
body.index #projects a.anionu .icon {
  width: 100px;
  background: url(/images/logos/anionu-100x80.png) no-repeat;
}
body.index #projects a.pacm .icon {
  background: url(/images/logos/pacm-80x80.png) no-repeat;
}
body.index #projects a.libsourcey .icon {
  background: url(/images/logos/libsourcey-80x80.png) no-repeat;
}
body.index #projects a.mesh .icon {
  background: url(/images/logos/mesh-80x80.png) no-repeat;
}
body.index #projects a.stompstart .icon {
  background: url(/images/logos/stompstart-80x80.png) no-repeat;
}
body.index #projects a.gardn .icon {
  background: url(/images/logos/gardn-80x80.png) no-repeat;
}
body.index #projects a.budokin .icon {
  background: url(/images/logos/budokin-80x80.png) no-repeat;
}

@media only screen and (min-width: 64.063em) {
  body.index #projects .columns a {
    min-height: 200px;
  }

  body.index #projects .faux {
    display:block;
    padding: 20px;
  }
}




/* Posts */

body.index .page-title {
  text-align: center;
  margin: 5.5em 0 0em;
}

body.index #articles {
/*
  max-width: 62.5rem;
  max-width: 650px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  */
  margin: 60px auto 20px;
}
body.index #articles > h2 {
  /*
  display:none;
  color: #c00;
  text-align: right;
  border-bottom: 1px solid #333;
  border-bottom: 1px solid #d5d5d5;
  */
  color: #e5e5e5;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: -20px;
}

body.index #articles ol {
  list-style-type: none;
  margin: 0 0 20px;
}

body.index #articles .row {
  border-bottom: 1px solid #eee;
  /* 15px; Need side padding for mobile */
}

body.index #articles .row > .columns {
  padding: 25px 0;
}
body.index #articles .row > .columns:hover {
}

body.index #articles .container {
  padding: 15px 15px 15px;
}

body.index #articles img {
  margin-top: -25px;
  margin-bottom: 15px;
  border-right: 1px solid #fff;
}

body.index #articles .title {
  font-size: 22px;
  font-weight: 400;
  /*
  margin: 15px 0 10px;
  text-transform: lowercase;
   */
}
body.index #articles .title a {
  color: #000;
  color: #333;
}
body.index #articles .title a:hover {
  color: #c00;
}
body.index #articles .title time {
  display: none;
  font-size: 14px;
  color: #999;
  margin-left: 10px;
}
body.index #articles p {
  color: #222;
  color: #666;
  font-size: 14px;
}
body.index #articles .category {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: #c00;
}
body.index #articles .more-link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #c00;
  color: #000;
}

@media only screen and (max-width: 64.063em) {
  /* Hide on small devices as per Google PageSpeed recommendation */
  body.index #articles .more-link {
    display: none;
  }
}



/*
  Generic Styles
*/
#main {
  padding: 0;
}
#main .article-header {
}
#main .article-header h1 {
  /*
  font-size: 32px;
  font-weight: normal;
  line-height: 42px;
  */
  position: relative;
  text-transform: none;
  color: #000;
  text-align: center;
  /*
  font: 300 72px/80px "freight-sans-pro", Helvetica, Arial, sans-serif;
  */
  font-weight: 300;
  font-size: 72px;
  line-height: 80px;
  -webkit-font-smoothing: antialiased;
}
#main .article-header h2.subtitle {
  text-align: center;
  margin: 17px auto 0;
  font: italic 500 24px/24px "freight-display-pro", Georgia, "Times New Roman", Serif;
}

#main .article-header .meta {
  margin-top: 35px;
  margin-bottom: 40px;
  height: 32px;
  line-height: 30px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

#main .content h1,
#main .content h2,
#main .content h3,
#main .content h4,
#main .content h5 {
  margin-top: 1.625rem;
  margin-bottom: 0.75rem;
  /*
  clear: both;
  color: #000;
  font-weight: normal;
  padding-bottom: .3em;
  text-transform: lowercase;
  */
}
#main .content h4,
#main .content h5 {
  font-weight: 500;
}

/*
#main .content {
  font: 500 18px/32px "freight-sans-pro", Helvetica, Arial, sans-serif;
}
*/

/* Anchor fix for pixed position header */
#main .content h1:before,
#main .content h2:before,
#main .content h3:before,
#main .content h4:before,
#main .content img:before {
  content: "";
  display: block;
  height: 60px;
  margin: -60px 0 0;
}

#main .content h1:target::after,
#main .content h2:target::after,
#main .content h3:target::after,
#main .content h4:target::after {
  content: " ☜";
}

#main .content dl {
  margin-left: 1em;
}
#main .content dl dt {
  /* text-transform: lowercase; */
}
#main .content dl dd {
  margin-bottom: 1.625em;
}

#main .content h1 {
  display: none;
}

#main .content h2 {
  /*
	font-size: 30px;
  margin: 35px 0 15px;
  margin-top: 2rem;
  margin-bottom: 1.15rem;
  */
}

#main .content h3 {
  color: #b00;
  /*
  font-size: 26px;
  margin: 35px 0 15px;
  margin: 25px 0 0px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  */
}


#main .content h4 {
  /*
  color: #b00; font-size: 22px;
  font-weight: bold;
  font-size: 24px;
  margin: 15px 0 0px;
   */
}

#main .content img {
  display: block;
  margin: 30px auto;
  box-shadow: 0 1px 16px rgba(0,0,0,0.28);
  border: 1px solid #666;
  text-align: center;
}

//#main .content > img:first-child {
//  margin-top: 0;
//}

#main .content img.align-left {
  display: inline-block;
  float: left;
  margin: 0 27px 7px 0;
  max-width: 120px;
  box-shadow: none;
  border: none;
}

#main .content img.align-right {
  display: inline-block;
  float: right;
  margin: 0 0 8px 22px;
  max-width: 120px;
  box-shadow: none;
  border: none;
}
#main .content img.width-100 {
  width: 100px;
}
#main p.width-75 {
  width: 75%;
  margin: 0 auto;
}

#main .content .action-button {
  margin: 20px auto;
  display: inline-block;
  height: auto;
}

#main .content .center {
  text-align: center;
}

#main .content .align-left {
  float: left;
  margin-right: 1.625em;
  margin-bottom: 0.625em;
}

#main .content .align-right {
  float: right;
  margin-left: 1.625em;
  margin-bottom: 0.625em;
}

#main .content h1 a,
#main .content h2 a,
#main .content h3 a {
	color: inherit;
	text-decoration: none;
}

/* Code Styles */
pre, code {
  /*
  font-family: 'Monaco', courier, monospace;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  */
  font-size: 13px;
}
code {
  margin: 0;
  padding: 0;
  overflow: auto;
  border-radius: 3px;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  color: inherit;
  /*
  font-size: 14px;
  font-size: 14px;
  line-height: 1.3; */
}
code:before,
code:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
code.highlight:before,
code.highlight:after {
  display: none;
}
pre {
  /*
  background: #272822;
  word-wrap: break-word;
  color: #fff;
  padding: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  */
  line-height: 1.5;
  margin-bottom: 30px;
}
pre code {
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
  border: none;
  background-color: transparent;
}
pre code:before,
pre code:after {
  content: none;
  letter-spacing: normal;
}

/*
  Generic Sidebar
*/
.sidebar {
}
@media only screen and (min-width: 64.063em) {
  .sidebar-float.float {
    position: fixed;
    top: 0;
    margin-top: 60px;
    /* http://stackoverflow.com/questions/15152470/chrome-rendering-issue-fixed-position-anchor-with-ul-in-body */
    -webkit-transform: translateZ(0);
  }
  body.page .sidebar-float.float {
    width: 220px;
  }
  body.article .sidebar-float.float {
    width: 303px;
  }
}

.sidebar .sidebar-section {
  margin-bottom: 20px;
}

.sidebar h4 {
  position: relative;
  border-bottom: 1px solid #d6d6d6;
  margin: 0 !important;
  padding: 0 0 3px 0;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold !important;
}

.sidebar ul,
.sidebar ul li {
  margin: 0;
  list-style-type: none;
}
.sidebar ul li a {
  padding: 6px 0;
  display: block;
  height: auto;
  border-bottom: 1px solid #e6e6e6;
}


/* Table of Contents */
@media only screen and (max-width: 64.063em) {
  .sidebar .toc {
    display: none;
  }
}


/* Top Button */
.sidebar .toc h4 a {
  display: none;
  font-weight: normal;
  right: 3px;
  top: -3px;
  font-size: 16px;
  position: absolute;
  color: #ccc;
}
.sidebar.float .toc h4 a {
  display: inline;
}
.sidebar .toc h4 a:hover {
  color: #c00;
}

/* Toggle Buttons */
.sidebar .toc ul li a.toggle {
  padding: 0;
  display: inline;
  height: auto;
  border-bottom: none;
  float: right;
  font-size: 16px;
  margin: 5px 3px 0 0;
}
.sidebar .toc ul li a span {
  color: #ccc;
}
.sidebar .toc ul li a:hover span {
  color: #c00;
}
.sidebar .toc ul li a .close {
  display: none;
}
.sidebar .toc ul li.closed ul {
  display: none;
}
.sidebar .toc ul li.closed a .open {
  display: none;
}
.sidebar .toc ul li.closed a .close {
  display: inline-block;
}

/* Inner Level */
.sidebar .toc ul ul li a {
  position: relative;
  padding-left: 15px;
}
/*
  padding: 5px 0 5px 18px;
.sidebar .toc ul ul a {
}
*/
.sidebar .toc ul ul ul li a:after {
  /*
  position: absolute;
  padding: 7px 0 0 3px;
  display: block;
  top: 0;
  left: 0;
  font-size: 75%;
  color: #c6c6c6;
  content:'\2666';
  content:'\21B5'; return
  content:'\2666'; diamond
  */
}


/*
  Pages
*/
body.page #main .article-header h1 {
  font: 300 60px/60px "freight-sans-pro", Helvetica, Arial, sans-serif;
}
body.page #main .article-wrap {
  border-top: 1px solid #d6d6d6;
  padding-top: 25px;
  margin-top: 30px;
}
body.page #main .content {
  font: 500 16px/28px "freight-sans-pro", Helvetica, Arial, sans-serif;
}

body.page #main .content .status {
  margin-bottom: 35px;
  border-bottom: 1px solid #d6d6d6;
  padding-top: 0;
  margin-left: 0;
}
/*
body.page #main .content .status dt {
  text-transform: none;
  font-weight: bold !important;
}
*/
@media only screen and (min-width: 40.063em) {
  h2 {
    font-size: 2rem;
  }
}

body.page #main .content p,
body.page #main .content dl,
body.page #main .content ol,
body.page #main .content ul,
body.page #main .content li {
  font-weight: 500;
  font-size: 1.1rem;
  /*
  font-size: inherit;
  font-family: inherit;
  line-height: inherit; */
}


/*
  Articles
*/

body.article #banner {
  display: block;
  margin: 0 auto -160px;
}

body.article #main .content p,
body.article #main .content dl,
body.article #main .content ol,
body.article #main .content ul,
body.article #main .content li {
  font-weight: 500;
  font-size: 1.1rem;
  /*
  font-size: inherit;
  font-family: inherit;
  line-height: inherit; */
}

body.article #disqus_thread {
  clear: both;
  padding: 25px 15px 25px;
}

body.article .social-buttons {
  clear: both;
  height: 110px;
  background: #f2f2f2;
  padding: 15px;
  margin: 20px auto 10px;
}
body.article .social-buttons ul {
  width: 305px;
  padding: 0;
  margin: 0 auto;
}
body.article .social-buttons li {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 10px;
  float: left;
}
