    
    <!--
    <div style="text-align: center">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>  -->
    <!-- Sourcey Small H --><!--
    <ins class="adsbygoogle"
         style="display:inline-block;width:468px;height:60px;margin: 30px auto 15px;"
         data-ad-client="ca-pub-1397369873900370"
         data-ad-slot="8968503286"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
    -->

    <footer id="footer">
      <p>
        As with all business minded artists, we have fought the inevitable battle of conformity vs expression, and have emerged victorious with sanity intact to plunder the digiverse in search of new and interesting challenges. For more information, or a quote, drop us an email and tell us what you're working on.
      </p>
      <!--
      <p>                     
        Our Kung Fu includes and is not limited to: C++, Ruby, Python, Java, Php, JavaScript, Node.js, ActionScript, HTML, CSS and Photoshop.
      <p>  
       -->      	  
      <p>
      &copy;2014 Sourcey     
      <p>  
    </footer>
      
    <%= javascript_include_tag "all" %>