  <header id="header">
    <h1 id="logo">
      <%= link_to(image_tag("logos/sourcey-glow-250x250.png", height: 150, width: 150, title: "Sourcey", alt: "Sourcey"), data.site.url, title: "Sourcey", rel: "home") %>
    </h1>
    <!--<h2 class="site-description">Open Source Developer Collective</h2>-->
  </header>