
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.page.title || "Sourcey developer Collective" %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    
    <%= stylesheet_link_tag "app", "style", "highlight/monokai" %>
    <%= javascript_include_tag "modernizr" %>
  </head>
  