  <nav class="top-bar" data-topbar="">
    <div id="social">
      <a href="https://plus.google.com/+SourceyDevel"><i class="fi-social-google-plus large"></i></a>
      <a href="https://facebook.com/sourceydevel"><i class="fi-social-facebook large"></i></a>
      <a href="https://twitter.com/sourceydevel"><i class="fi-social-twitter large"></i></a>
      <a href="https://github.com/sourcey"><i class="fi-social-github large"></i></a>    
    </div>
      
    <ul class="title-area">
      <li class="name"></li>
      <li class="toggle-topbar menu-icon"><a href="" class="left"><!--Menu--></a></li>
    </ul>
    
    <section class="top-bar-section" style="left: 0%;">      
      <ul class="left">
        <li class="has-dropdown not-click"><a href="/">Menu</a>
          <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
            <!--<li><label>Menu</label></li>-->
            <li><a href="/#blog">Blog</a></li>
            <li class="has-dropdown not-click"><a href="/#projects">Projects</a>
              <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                <li><label>Projects</label></li>
                <li><a href="/libsourcey">LibSourcey</a></li>
                <li><a href="/anionu">Anionu</a></li>
                <li><a href="/symple">Symple</a></li>
                <li><a href="/mesh">Mesh</a></li>
                <li><a href="/pacman">Pacman</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li><a href="/archives">Archives</a></li>
            <li><a href="/feed.xml">Feed</a></li>
            <li class="divider"></li>
            <li><a href="mailto:hello@sourcey.com">Contact</a></li>
          </ul>
        </li>
        <li class="divider"></li>
      </ul>
    </section></nav>
    
    <header id="header">
      <h1 id="logo" class="site-title"><a href="http://sourcey.com/" title="Sourcey" rel="home"><img src="/images/logo-250.png" height="150" width="150" title="Sourcey" alt="Sourcey"></a></h1>
      <!--<h2 class="site-description">Open Source Developer Collective</h2>-->
    </header>